
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 15px;
  background: #5191fd; 
  
  
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  ​font-size: 40px;
  padding: 10px; 
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  #border-radius: 3px;
  float: right;

}
.navbar li.left {
  ​font-size: 40px;
  float: left;
 }


